body {
    width: 100%;

}
.top_box, .menu, .leng {
    display: flex;
}
.top_box {
    justify-content: space-between;
}

.menu > img {
    width: 35px;
    height: 24px;
    margin-top: 54px;
    margin-left: 80px;
}

.menu > p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-left: 16px;
    margin-top: 56px;
}
.section {
    color: #A5A5A5;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    margin-left: 80px;
    margin-top: 147px;
}
.logo {
background: url(./img/UBT_logo.png);
    width: 424px;
    height: 215px;
    margin-top: 45px;
    margin-left: 151px;
    margin-right: 371px;

}
.leng {
     margin: 45px 80px 0 0;
}
.leng > img {
    width: 18px;
    height: 18px;
}

.leng > p {

    margin: 0 0 0 2px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.txt_and_pic {
    display: block;

}
.data, .title{
    margin-left: 297px;
}
.data {
    color: #01933C;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 150px auto 12px auto;
    max-width: 846px;
}

.title {
    color: #252525;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 109.5%;
    max-width: 846px;
    margin: 0 auto 42px auto;
}
.foto {
    background: url(./img/Rectangle.png);
    width: 1064px;
    height: 557px;
    margin: 0 auto 0 auto;
}
.text {
    color: #252525;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    max-width: 846px;
    margin: 42px auto 0 auto;
}



